<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF=8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualização</title>
</head>

<body>
    <%- include("partials/cabecalho.ejs")%>
        <div class="container">
            <h1>Atualização de Atendente</h1>
            <form action="/atendente/atualizar" method="post">
                <div class="mb-3">
                    <label class="form-label">Nome</label>
                    <input type="text" value="<%= resultado.nome%>" class="form-control" name="nome">
                </div>
                <div class="mb-3">
                    <label class="form-label">idade</label>
                    <input type="text" value="<%= resultado.idade%>" class="form-control" name="idade">
                </div>
                <input type="hidden" value="<%= resultado.codigo%>" name="codigo">
                <button type="submit" class="btn btn-success">Atualizar</button>
            </form>
        </div>
        <%- include("partials/rodape.ejs")%>

</body>

</html>